// Breakpoints
$breakpoint-phone: 600px;
$breakpoint-tablet: 900px;
$breakpoint-desktop: 901px;

// Colors
$color-white: #ffffff;
$color-backdrop-primary: rgba(6, 11, 14, 0.88);
$color-backdrop-secondary: rgb(49, 56, 59);
$color-brand-primary: rgb(16, 148, 211);
$color-brand-secondary: rgb(144, 194, 3);
