.tutorial {
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;

  .tutorial-section {
    margin-top: 8px;

    ul {
      padding-left: 20px;
      margin-bottom: 22px;
    }

    li {
      line-height: 1.2rem;
      margin-bottom: 10px;
    }
  }

  .gif-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      border-radius: 8px;
    }
  }
}
